body{
	margin:0;
	padding: 0;
}
#pick_drop_details{
	width: 80%;
	height: 150px;
	margin-left: 10%;
	margin-top:75px;
	border: none;
	border-radius: 10px;
	text-align: center;
	padding-top: 35px;
	background-color: #ffffff;
	box-shadow: 0px 0px 2px 2px #DCDCDC;
}

#content{
	width: 30%;
	height: 100%;
	margin-left: 0%;
	float: left;
	background-color: #fffee4;
}
.locations_input{
	margin-bottom: 10px;
	width: 80%;
	height:40px;
	border: 2px solid #DCDCDC;
	border-radius: 5px;
	padding-left: 20px;
}
#points{
	margin-left:10%;
	margin-top:50px;
}
#frame{
	width: 70%;
	height: 100%;
	margin-left: 30%;
	margin-top: 0px;
	padding-top: 0px;
}
.buttons{
	background-color: #094c72; 
	border: none; 
	height: 25px; 
	color: white; 
	width: 150px; 
	border-radius: 2px;
	margin: 10px 0px 10px 0px;
}
