<html>
	<head>
		<title>Rides</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',    filename='user.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script type="text/javascript">
			var points = []
			var pairs = []
			// window.onload = function(){
			// 	document.getElementById('getRoute').onclick = function(){
			// 		sendPoints()
			// 	};
			// }
			function addDepot(long, lat){
				points[0] = long+","+lat;
				console.log(points)
			}
			function addPairs(pickup_index, drop_index){
				pairs.push([pickup_index, drop_index])
			}

			function addRider(pickup_long, pickup_lat, drop_long, drop_lat){
				points.push(pickup_long+","+pickup_lat);
				points.push(drop_long+","+drop_lat);
				addPairs(points.indexOf(pickup_long+","+pickup_lat),points.indexOf(drop_long+","+drop_lat))
				console.log(points)
				console.log(pairs)
			}
			// function sendPoints(){
			// 	var pointsJson = JSON.stringify(points)
			// 	console.log(pointsJson)
			// 	$.post("points", pointsJson, function(){

			// 	});
			// 	event.preventDefault();
			// }
			$(function(){
				$('#getRoute').click(function() {
				console.log('Button is clicked')
        		$.ajax({
          			type: "POST",
          			contentType: "application/json;charset=utf-8",
          			url: "/points",
          			traditional: "true",
          			data: JSON.stringify(points),
          			dataType: "json"
          		});
    		});
			});
			
		</script>
	</head>
	<body>
		<div id = "pick_drop_details">
			<label for="currentlocation">Current Location: </label>
			<input type="text" name="currentlocation" class='curr_loc' id='curr_long' placeholder="longitude">
			<input type="text" name="currentlocation" class='curr_loc' id='curr_lat' placeholder="latitude"><br>
			<button onclick="addDepot(document.getElementById('curr_long').value, document.getElementById('curr_lat').value)">Update</button><br><br>
			<label for="pickup">Pickup Location: </label>
			<input type="text" name="pickup" class="pickup_input" id="pickup_long" placeholder="longitude">
			<input type="text" name="pickup" class="pickup_input" id="pickup_lat" placeholder="latitude"><br>
			<label for="drop">Drop Location: </label>
			<input type="text" name="drop" class="drop_input" id="drop_long" placeholder="longitude">
			<input type="text" name="drop" class="drop_input" id="drop_lat" placeholder="latitude"><br>
			<button onclick="addRider(document.getElementById('pickup_long').value, document.getElementById('pickup_lat').value, document.getElementById('drop_long').value, document.getElementById('drop_lat').value)">Add the route</button>
			<button id="getRoute">Get Optimal Route</button>
		</div>
		<div id="points">
			<p>Mark Visited (click): </p>
		</div>
	</body>
</html>