<html>
	<head>
		<title>Rides</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='user.css')}}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script type="text/javascript">
			var points = []
			var pairs = []
			function addDepot(long, lat){
				points[0] = long+","+lat;
				console.log(points)
			}
			function addPairs(pickup_index, drop_index){
				pairs.push([pickup_index, drop_index])
				console.log(pairs)
			}

			function addRider(pickup_address, drop_address){
				points.push(pickup_address);
				if(points.indexOf(drop_address) == -1){
					points.push(drop_address)
				}
				addPairs(points.indexOf(pickup_address),points.indexOf(drop_address))
				console.log(points)
			}
			$(function(){
				$('#getRoute').click(function() {
        		$.ajax({
          			type: "POST",
          			contentType: "application/json;charset=utf-8",
          			url: "/points",
          			traditional: "true",
          			data: JSON.stringify({'points': points, 'pairs': pairs}),
          			dataType: "json",
          			success: function(response){
          				console.log(response)
          			}
          		});
    		});
			});
			
		</script>
	</head>
	<body>
		<div id = "pick_drop_details">
			<label for="currentlocation">Current Location: </label>
			<input type="text" name="currentlocation" class='curr_loc' id='curr_long' placeholder="longitude">
			<input type="text" name="currentlocation" class='curr_loc' id='curr_lat' placeholder="latitude"><br>
			<button onclick="addDepot(document.getElementById('curr_long').value, document.getElementById('curr_lat').value)">Update</button><br><br>
			<label for="pickup">Pickup Location: </label>
			<input type="text" name="pickup" class="pickup_input" id='pickup_address' placeholder="pick up address"><br>
			<label for="drop">Drop Location: </label>
			<input type="text" name="drop" class="drop_input" id="drop_address" placeholder="drop address"><br>
			<button onclick="addRider(document.getElementById('pickup_address').value, document.getElementById('drop_address').value)">Add the route</button><br><br>
			<button id="getRoute">Get Optimal Route</button>
		</div>
		<div id="points">
			<p>Mark Visited (click): </p>
		</div>
	</body>
</html>