<html>
	<head>
		<title>Rides</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='user.css')}}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.js'></script>
    	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.css' rel='stylesheet' />
    	<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js'></script>
		<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css' type='text/css' />
		<script type="text/javascript">
			var pairs = [];
			var visited = [];
			var non_visited = [];
			var geo_coordinates_order = [];
			current_location = '-122.128646,37.429086';
			non_visited[0] = current_location;
			function addPairs(pickup_index, drop_index){
				pairs.push([pickup_index, drop_index]);
			}
			function markVisited(ID){
				document.getElementById(ID).style.backgroundColor = 'red';
				value = document.getElementById(ID).innerHTML;
				visited.push(value);
				let index = non_visited.indexOf(value);
				if(index>-1){
					non_visited.splice(index, 1);
				}
				for(i=0;i<pairs.length;i++){
					if(pairs[i].includes(index)){
						pairs.splice(i,1);
					}
				}
			}
			function addRider(pickup_address, drop_address){
				non_visited.push(pickup_address);
				if(non_visited.indexOf(drop_address) == -1){
					non_visited.push(drop_address);
				}
				addPairs(non_visited.indexOf(pickup_address),non_visited.indexOf(drop_address));
				var location_inputs = document.getElementsByClassName('locations_input');
				for(i=0;i<location_inputs.length;i++){
					location_inputs[i].value = '';
				}
			}
			$(function(){
				$('#getRoute').click(function() {
        		$.ajax({
          			type: "POST",
          			contentType: "application/json;charset=utf-8",
          			url: "/points",
          			traditional: "true",
          			data: JSON.stringify({'points': non_visited, 'pairs': pairs}),
          			dataType: "json",
          			success: function(response){
          				document.getElementById('route').innerHTML = "";
          				geo_coordinates_order = response['GeoCoordinates']
          				console.log(geo_coordinates_order)
          				for(i=0;i<response['Addresses'].length;i++){
          					let btn = document.createElement('BUTTON');
          					let new_line = document.createElement('BR');
          					btn.style.color = 'white';
          					btn.style.width = '600px';
          					btn.style.height = '25px';
          					btn.style.marginBottom = '10px';
          					btn.style.backgroundColor = 'green';
          					btn.style.border = 'none';
          					btn.innerHTML = response['Addresses'][i];
          					btn.id = 'address'+i.toString();
          					btn.addEventListener('click', function(){
          						markVisited(btn.id);
          					});
          					document.getElementById('route').appendChild(btn);
          					document.getElementById('route').appendChild(new_line);
          				}
          			}
          		});
    		});
			});
			$(function(){
				$('#check').click(function(){
					geo_coordinates_order.unshift([-122.128646,37.429086]);
					$.ajax({
						type: "POST",
	          			contentType: "application/json;charset=utf-8",
	          			url: "/test.html",
	          			data: JSON.stringify({'points': geo_coordinates_order}),
	          			success: function(response){
	          				$('#frame').empty();
	          				$('#frame').append(response);
	          			}
					});
				});
			});
		</script>
	</head>
	<body>
		<div id="content">
			<div id = "pick_drop_details">
				<input type="text" name="pickup" class="locations_input" id='pickup_address' placeholder="Pick up Location"><br>
				<input type="text" name="drop" class="locations_input" id="drop_address" placeholder="Drop Location"><br>
				<button class="buttons" onclick="addRider(document.getElementById('pickup_address').value, document.getElementById('drop_address').value)">Accept Ride</button><br><br>
				<button class="buttons" id="getRoute">Get Optimal Route</button>
				<button class="buttons" id="check">Navigate</button>
			</div>
			<div id="points">
				<p>Route: (Click on the buttons below to mark the visited addresses)</p>
				<div id="route"></div>
			</div>
		</div>
		<div id="frame">
			<iframe id="mapFrame" src="{{ iframe }}" height="100%" width="100%" style="border: none;"></iframe>
		</div>
	</body>
</html>